names=do_not_reverse_lookup=
visibility=public
kind=defined
source_location=manual/api/socket/BasicSocket.md
since_by_name=do_not_reverse_lookup=3d=1.9.3
until_by_name=

### def do_not_reverse_lookup=(bool)
アドレスからホスト名への逆引きの設定をソケットごとに設定します。

- **param** `bool` -- この値が真ならアドレスからホスト名への逆引きを行わなくなります。
- **SEE** [m:BasicSocket#do_not_reverse_lookup]

