names=AF_IPX,PF_IPX
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:118

--- AF_IPX -> Integer
--- PF_IPX -> Integer

IPX(Novell Internet Packet eXchange protocol)。
[[m:Socket.open]] の第一引数 domain に使用します。

@see [[man:socket(3linux)]]

