names=IFF_TX_SKB_SHARING
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:2523

--- IFF_TX_SKB_SHARING

sharing skbs on transmit

