names=IFF_ALTPHYS
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:2327

--- IFF_ALTPHYS

use alternate physical connection

