names=unpack_sockaddr_un
visibility=public
kind=defined
source_location=/tmp/claude-1000/-home-debian-rurema/3717a77b-67d6-4a40-b15e-a41ca141ab34/scratchpad/frozen.ryNQ5k/src/refm/api/src/socket/Socket

--- unpack_sockaddr_un(sockaddr) -> String

[[ref:lib:socket#pack_string]]を
unpack したソケットパス名を返します。

@param sockaddr ソケットアドレス構造体を pack した文字列[[ref:lib:socket#pack_string]]を指定します。

例:

  require 'socket'
  p Socket.unpack_sockaddr_un(Socket.sockaddr_un("/tmp/.X11-unix/X0"))
  => "/tmp/.X11-unix/X0"
