names=int
visibility=public
kind=defined
source_location=manual/api/socket/Socket__AncillaryData.md
since_by_name=int=1.9.3
until_by_name=

### def int -> Integer

自身が保持している cmsg data (データ) を整数の形で返します。

整数データのサイズおよびエンディアンは実行するホストによって異なります。

```ruby
require 'socket'

ancdata = Socket::AncillaryData.int(:UNIX, :SOCKET, :RIGHTS, STDERR.fileno)
p ancdata.int # => 2
```

- **raise** `TypeError` -- cmgs data のサイズが int のバイト数と異なる場合に発生します
- **SEE** [m:Socket::AncillaryData.new] [m:Socket::AncillaryData.int]

