names=AF_NS,PF_NS
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:189

--- AF_NS -> Integer
--- PF_NS -> Integer
@todo
XEROX NS protocol。
[[m:Socket.open]] の第一引数 domain に使用します。


