names=AF_DLI,PF_DLI
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:68

--- AF_DLI -> Integer
--- PF_DLI -> Integer
@todo
DEC Direct data link interface。
[[m:Socket.open]] の第一引数 domain に使用します。


