names=INADDR_NONE
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:854

--- INADDR_NONE -> Integer
A bitmask for matching no valid IP address。
エラーを表すアドレス値です。

