names=IPPORT_USERRESERVED
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:351

--- IPPORT_USERRESERVED -> Integer
ユーザが自由に利用して良いポート番号の最小値。


