names=SO_PEERNAME
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:1985

--- SO_PEERNAME -> Integer
@todo
Name of the connecting user。

