names=IFF_DONT_BRIDGE
visibility=public
kind=defined
source_location=refm/api/src/socket/constants

--- IFF_DONT_BRIDGE

disallow bridging this ether dev

