names=IFF_DRV_OACTIVE
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:2367

--- IFF_DRV_OACTIVE

tx hardware queue is full

