names=IFF_POINTOPOINT
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IFF_POINTOPOINT=2.1.0
until_by_name=

### const IFF_POINTOPOINT

point-to-point link

