names=IFF_DISABLE_NETPOLL
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IFF_DISABLE_NETPOLL=2.1.0
until_by_name=

### const IFF_DISABLE_NETPOLL

disable netpoll at run-time

