names=MSG_NOSIGNAL
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const MSG_NOSIGNAL -> Integer
Do not generate SIGPIPE

[m:BasicSocket#send], [m:BasicSocket#sendmsg] の
flags 引数に用います。

- **SEE** [man:send(2linux)], [man:send(2freebsd)]

