names=MCAST_EXCLUDE
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=MCAST_EXCLUDE=1.9.3
until_by_name=
rbs_sig=(uninitialized)

### const MCAST_EXCLUDE -> Integer

Exclusive multicast source filter

[m:BasicSocket#getsockopt], [m:BasicSocket#setsockopt]
の第2引数(optname)に使用します。

- **SEE** [m:Socket::Constants::IPPROTO_IP], [m:Socket::Constants::IPPROTO_IPV6],
     [RFC:3678]

