names=NI_MAXHOST
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const NI_MAXHOST -> Integer

[man:getnameinfo(3)] で用いるホスト名文字列の最大長さ。

- **SEE** [man:getnameinfo(3linux)]

