names=SCM_TIMESTAMPNS
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:1828

--- SCM_TIMESTAMPNS -> Integer
Timestamp (timespec).

[[c:Socket::AncillaryData]] の type として利用します。

@see [[c:Socket::AncillaryData]], [[m:Socket::AncillaryData#timestamp]]
     [[m:BasicSocket#sendmsg]], [[m:BasicSocket#recvmsg]]

