names=SO_SECURITY_ENCRYPTION_NETWORK
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const SO_SECURITY_ENCRYPTION_NETWORK -> Integer
@todo

