names=SO_DONTTRUNC
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:1913

--- SO_DONTTRUNC -> Integer
@todo
Retain unread data

