names=SOL_TCP
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=

### const SOL_TCP -> Integer
TCP socket options。
[m:BasicSocket#getsockopt], [m:BasicSocket#setsockopt]
の第一引数(level)に使用します。

- **SEE** [m:Socket::Constants::IPPROTO_TCP]

