names=AF_HYLINK,PF_HYLINK
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const AF_HYLINK -> Integer
### const PF_HYLINK -> Integer
@todo
NSC Hyperchannel。
[m:Socket.open] の第一引数 domain に使用します。


