names=IP_RECVSLLA
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IP_RECVSLLA=1.9.3
until_by_name=

### const IP_RECVSLLA -> Integer
@todo
Receive link-layer address with datagrams

