names=IFF_OVS_DATAPATH
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IFF_OVS_DATAPATH=2.1.0
until_by_name=
rbs_sig=(uninitialized)

### const IFF_OVS_DATAPATH

device used as Open vSwitch datapath port

