names=IFF_MASTER_8023AD
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IFF_MASTER_8023AD=2.1.0
until_by_name=
rbs_sig=(uninitialized)

### const IFF_MASTER_8023AD

bonding master, 802.3ad.

