names=MSG_ERRQUEUE
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:1636

--- MSG_ERRQUEUE -> Integer
Fetch message from error queue

[[m:BasicSocket#recv]], [[m:BasicSocket#recvmsg]] の
flags 引数に用います。

@see [[man:recv(2linux)]]

