names=MSG_FLUSH
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const MSG_FLUSH -> Integer
@todo
Start of a hold sequence.  Dumps to so_temp


