names=MSG_ERRQUEUE
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const MSG_ERRQUEUE -> Integer
Fetch message from error queue

[m:BasicSocket#recv], [m:BasicSocket#recvmsg] の
flags 引数に用います。

- **SEE** [man:recv(2linux)]

