names=PF_RTIP
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const PF_RTIP -> Integer
Help Identify RTIP packets。
[m:Socket.open] の第一引数 domain に使用します。

- **SEE** [man:socket(2freebsd)]


