names=PF_XTP
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=
rbs_sig=(uninitialized)

### const PF_XTP -> Integer
@todo
eXpress Transfer Protocol。

