names=SO_USELOOPBACK
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:2086

--- SO_USELOOPBACK -> Integer
@todo
Bypass hardware when possible。

