names=SO_SECURITY_AUTHENTICATION
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const SO_SECURITY_AUTHENTICATION -> Integer
@todo

