names=TCP_WINDOW_CLAMP
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=TCP_WINDOW_CLAMP=1.9.3
until_by_name=
rbs_sig=(uninitialized)

### const TCP_WINDOW_CLAMP -> Integer

Clamp the size of the advertised window。
[m:BasicSocket#getsockopt], [m:BasicSocket#setsockopt]
の第2引数(optname)に使用します。

- **SEE** [man:tcp(7linux)]

