names=sysaccept
visibility=public
kind=defined
source_location=manual/api/socket/Socket.md
since_by_name=
until_by_name=

### def sysaccept -> Array

接続したクライアントのファイル記述子とアドレスのペアを返すことを除
けば [m:Socket#accept] と同じです。

