names=ip_address_list
visibility=public
kind=defined
source_location=refm/api/src/socket/Socket:427

--- ip_address_list -> [Addrinfo]
ローカルの IP アドレスを配列で返します。

