names=ip_address_list
visibility=public
kind=defined
source_location=manual/api/socket/Socket.md
since_by_name=ip_address_list=1.9.3
until_by_name=

### def ip_address_list -> [Addrinfo]

ローカルの IP アドレスを配列で返します。

