names=vhid
visibility=public
kind=defined
source_location=refm/api/src/socket/Socket__Ifaddr:44

--- vhid -> Integer | nil

self のバーチャルホストIDを返します。
バーチャルホストIDがない場合は nil を返します。

サポートされていない環境ではメソッド自体が定義されていません。
