names=ifindex
visibility=public
kind=defined
source_location=manual/api/socket/Socket__Ifaddr.md

### def ifindex -> Integer

self のインターフェイスのインデックスを返します。

