names=inspect
visibility=public
kind=defined
source_location=manual/api/socket/Socket__Ifaddr.md

### def inspect -> String

self の情報を人間に読みやすい文字列にして返します。

