names=inspect
visibility=public
kind=defined
source_location=manual/api/socket/Socket__Ifaddr.md
since_by_name=inspect=2.1.0
until_by_name=

### def inspect -> String

self の情報を人間に読みやすい文字列にして返します。

