names=addr
visibility=public
kind=defined
source_location=manual/api/socket/Socket__Ifaddr.md

### def addr -> Addrinfo | nil

self のアドレスを [c:Addrinfo] オブジェクトで返します。
self が利用できない場合は nil を返します。

