names=vhid
visibility=public
kind=defined
source_location=manual/api/socket/Socket__Ifaddr.md

### def vhid -> Integer | nil

self のバーチャルホストIDを返します。
バーチャルホストIDがない場合は nil を返します。

サポートされていない環境ではメソッド自体が定義されていません。
