names=for_fd
visibility=public
kind=defined
source_location=/tmp/claude-1000/-home-debian-rurema/3717a77b-67d6-4a40-b15e-a41ca141ab34/scratchpad/frozen.ZtgaSH/src/refm/api/src/socket/BasicSocket

--- for_fd(fd) -> BasicSocket

ファイルディスクリプタ fd に対する新しいソケットを生成します。

返り値のクラスはどのクラスの for_fd を呼びだしたかによって決まります。
  BasicSocket.for_fd(fd) # BasicSocket のインスタンスを返す
  TCPSocket.for_fd(fd) # TCPSocket のインスタンスを返す

@param   fd ファイルディスクリプタ を指定します。

@return  任意のソケットである fd から対応するソケットクラスのインスタンスを作り、それを返します。

