names=IFF_OVS_DATAPATH
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:2459

--- IFF_OVS_DATAPATH

device used as Open vSwitch datapath port

