names=MSG_PROXY
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:1663

--- MSG_PROXY -> Integer
@todo
Wait for full request

