names=MSG_SEND
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:1574

--- MSG_SEND -> Integer
@todo
Send the packet in so_temp

