names=PF_RTIP
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:276

--- PF_RTIP -> Integer
Help Identify RTIP packets。
[[m:Socket.open]] の第一引数 domain に使用します。

@see [[man:socket(2freebsd)]]


