names=SOPRI_NORMAL
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:2198

--- SOPRI_NORMAL -> Integer
Normal socket priority
@todo

