names=SO_WANTMORE
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:2090

--- SO_WANTMORE -> Integer
@todo
Give a hint when more data is ready。

