names=IP_MSFILTER
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IP_MSFILTER=1.9.3
until_by_name=

### const IP_MSFILTER -> Integer
@todo
Multicast source filtering

