names=IFF_OVS_DATAPATH
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const IFF_OVS_DATAPATH

device used as Open vSwitch datapath port

