names=IP_ROUTER_ALERT
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IP_ROUTER_ALERT=1.9.3
until_by_name=

### const IP_ROUTER_ALERT -> Integer
Notify transit routers to more closely examine the contents of an IP packet。
[m:BasicSocket#getsockopt], [m:BasicSocket#setsockopt]
の第2引数(optname)に使用します。

- **SEE** [m:Socket::Constants::IPPROTO_IP], [man:ip(7linux)]

