names=IFF_DISABLE_NETPOLL
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const IFF_DISABLE_NETPOLL

disable netpoll at run-time

