names=MSG_PROXY
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=MSG_PROXY=1.9.3
until_by_name=

### const MSG_PROXY -> Integer
@todo
Wait for full request

