names=NI_MAXSERV
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const NI_MAXSERV -> Integer

[man:getnameinfo(3)] で用いるサービス名文字列の最大長さ。

- **SEE** [man:getnameinfo(3linux)]

