names=SO_DONTTRUNC
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const SO_DONTTRUNC -> Integer
@todo
Retain unread data

