names=SCM_UCRED
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:1836

--- SCM_UCRED -> Integer
@todo
User credentials。


