names=local_address
visibility=public
kind=defined
source_location=/tmp/claude-1000/-home-debian-rurema/3717a77b-67d6-4a40-b15e-a41ca141ab34/scratchpad/frozen.Phg2K5/src/refm/api/src/socket/BasicSocket

--- local_address -> Addrinfo
[[man:getsockname(2)]] で得られたローカルアドレス情報を
[[c:Addrinfo]] オブジェクトとして返します。

返されたオブジェクトの [[m:Addrinfo#protocol]] は 0 を
返すことに注意してください。

  require 'socket'

  TCPSocket.open("www.ruby-lang.org", 80) {|s|
    p s.local_address #=> #<Addrinfo: 192.168.0.129:36873 TCP>
  }
  
  TCPServer.open("127.0.0.1", 1512) {|serv|
    p serv.local_address #=> #<Addrinfo: 127.0.0.1:1512 TCP>
  }

@see [[m:BasicSocket#getsockname]]

