names=data
visibility=public
kind=defined
source_location=refm/api/src/socket/Socket__AncillaryData:160

--- data -> String
自身が保持している cmsg data (データ) を返します。

  require 'socket'

  p Socket::AncillaryData.new(:INET6, :IPV6, :PKTINFO, "").type
  #=> ""

@see [[m:Socket::AncillaryData.new]]

