names=new,open
visibility=public
kind=defined
source_location=manual/api/socket/TCPSocket.md
since_by_name=
until_by_name=

### def TCPSocket.open(host, service, local_host=nil, local_service=nil, resolv_timeout: nil, connect_timeout: nil, fast_fallback: true) -> TCPSocket
### def TCPSocket.new(host, service, local_host=nil, local_service=nil, resolv_timeout: nil, connect_timeout: nil, fast_fallback: true) -> TCPSocket

host で指定したホストの service で指定したポートと接続したソケッ
トを返します。host はホスト名、またはインターネットアドレスを
示す文字列、service は /etc/services (または NIS) に登録されている
サービス名かポート番号です。

引数 local_host, local_service を指定した場合、そのアドレス
に対して [man:bind(2)] します。

- **param** `host` --           ホスト名、またはインターネットアドレスを示す文字列を指定します。
- **param** `service` --        /etc/services (または NIS) に登録されているサービス名かポート番号を指定します。
- **param** `local_host` --     ホスト名、またはインターネットアドレスを示す文字列を指定します。
- **param** `local_service` --  /etc/services (または NIS) に登録されているサービス名かポート番号を指定します。
- **param** `resolv_timeout` -- 名前解決のタイムアウトを秒数で指定します。
- **param** `connect_timeout` -- 接続確立のタイムアウトを秒数で指定します。
- **param** `fast_fallback` -- Happy Eyeballs Version 2 ([RFC 8305](https://datatracker.ietf.org/doc/html/rfc8305)) を有効にします。

