names=AF_INET,PF_INET
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=

### const AF_INET -> Integer
### const PF_INET -> Integer

IPv4。
[m:Socket.open] の第一引数 domain に使用します。

- **SEE** [man:sys/socket.h(header)], [man:socket(2freebsd)], [man:ip(7linux)]

