names=AI_ALL
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const AI_ALL -> Integer
Allow all addresses。

[m:Socket.getaddrinfo], [m:Addrinfo.getaddrinfo] の引数 flags に渡す
定数です。

- **SEE** [man:getaddrinfo(3)]

