names=AF_DATAKIT,PF_DATAKIT
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=
rbs_sig=(uninitialized)

### const AF_DATAKIT -> Integer
### const PF_DATAKIT -> Integer
@todo
datakit protocol。
[m:Socket.open] の第一引数 domain に使用します。

