names=IFF_OACTIVE
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IFF_OACTIVE=2.1.0
until_by_name=
rbs_sig=(uninitialized)

### const IFF_OACTIVE

transmission in progress

