names=IFNAMSIZ,IF_NAMESIZE
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IFNAMSIZ=1.9.3,IF_NAMESIZE=1.9.3
until_by_name=

### const IFNAMSIZ -> Integer
### const IF_NAMESIZE -> Integer

インターフェース名文字列の最大長さ。

- **SEE** [man:net/if.h(header)]


