names=IP_IPSEC_POLICY
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IP_IPSEC_POLICY=1.9.3
until_by_name=

### const IP_IPSEC_POLICY -> Integer

IPsec security policy。
[m:BasicSocket#getsockopt], [m:BasicSocket#setsockopt]
の第2引数(optname)に使用します。

- **SEE** [m:Socket::Constants::IPPROTO_IP],
     <http://netbsd.gw.com/cgi-bin/man-cgi?ip++NetBSD-current>

