names=IP_PKTOPTIONS
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IP_PKTOPTIONS=1.9.3
until_by_name=

### const IP_PKTOPTIONS -> Integer
@todo
Receive packet options with datagrams

