names=IFF_DISABLE_NETPOLL
visibility=public
kind=defined
source_location=refm/api/src/socket/constants

--- IFF_DISABLE_NETPOLL

disable netpoll at run-time

