names=IFF_LINK1
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IFF_LINK1=2.1.0
until_by_name=
rbs_sig=(uninitialized)

### const IFF_LINK1

per link layer defined bit 1

