names=IFF_MASTER_ARPMON
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:2435

--- IFF_MASTER_ARPMON

bonding master, ARP mon in use

