names=IFF_RENAMING
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IFF_RENAMING=2.1.0
until_by_name=

### const IFF_RENAMING

interface is being renamed

