names=MSG_ERRQUEUE
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=MSG_ERRQUEUE=1.9.3
until_by_name=

### const MSG_ERRQUEUE -> Integer

Fetch message from error queue

[m:BasicSocket#recv], [m:BasicSocket#recvmsg] の
flags 引数に用います。

- **SEE** [man:recv(2linux)]

