names=SHUT_WR
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:1848

--- SHUT_WR -> Integer
[[m:BasicSocket#shutdown]] の how 引数に使用します。

