names=SOCK_RDM
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:318

--- SOCK_RDM -> Integer

信頼性のあるデータグラム通信。
[[m:Socket.open]] の第二引数 type に使用します。

@see [[man:socket(2linux)]], [[m:Socket.open]]

