names=SCM_CREDENTIALS
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=SCM_CREDENTIALS=1.9.3
until_by_name=

### const SCM_CREDENTIALS -> Integer

The sender's credentials

[c:Socket::AncillaryData] の type として利用します。

- **SEE** [c:Socket::AncillaryData], 
     [m:BasicSocket#sendmsg], [m:BasicSocket#recvmsg],
     [man:unix(7linux)]

