names=SO_SECURITY_ENCRYPTION_NETWORK
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:2039

--- SO_SECURITY_ENCRYPTION_NETWORK -> Integer
@todo

