names=SO_MAC_EXEMPT
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=SO_MAC_EXEMPT=1.9.3
until_by_name=
rbs_sig=(uninitialized)

### const SO_MAC_EXEMPT -> Integer
@todo
Mandatory Access Control exemption for unlabeled peers。

