names=SOPRI_BACKGROUND
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const SOPRI_BACKGROUND -> Integer
@todo
Background socket priority

