names=ipv6_pktinfo
visibility=public
kind=defined
source_location=/tmp/claude-1000/-home-debian-rurema/3717a77b-67d6-4a40-b15e-a41ca141ab34/scratchpad/frozen.ryNQ5k/src/refm/api/src/socket/Socket__AncillaryData

--- ipv6_pktinfo(addr, ifindex) -> Socket::AncillaryData

type が IPV6_PKTINFO である AncillaryData を生成します。

IPV6_PKTINFO は [[RFC:3542]] で定義されています。

  require 'socket'

  addr = Addrinfo.ip("::1")
  ifindex = 0
  p Socket::AncillaryData.ipv6_pktinfo(addr, ifindex)
  #=> #<Socket::AncillaryData: INET6 IPV6 PKTINFO ::1 ifindex:0>

@param addr アドレス(文字列もしくは [[c:Addrinfo]])
@param ifindex インターフェースのインデックス(整数)

@see [[m:Socket::AncillaryData#ipv6_pktinfo]],
     [[m:Socket::Constants::IPV6_PKTINFO]]

