names=afamily
visibility=public
kind=defined
source_location=refm/api/src/socket/Addrinfo:166

--- afamily -> Integer
アドレスファミリーを整数で返します。

  require 'socket'

  Addrinfo.tcp("localhost", 80).afamily == Socket::AF_INET #=> true

