names=afamily
visibility=public
kind=defined
source_location=manual/api/socket/Addrinfo.md

### def afamily -> Integer
アドレスファミリーを整数で返します。

`````
require 'socket'

Addrinfo.tcp("localhost", 80).afamily == Socket::AF_INET #=> true
`````

