names=ipv6_mc_global?
visibility=public
kind=defined
source_location=manual/api/socket/Addrinfo.md
since_by_name=ipv6_mc_global=3f=1.9.3
until_by_name=

### def ipv6_mc_global? -> bool

IPv6 のマルチキャスト(グローバルスコープ)
アドレスであれば真を返します。

