names=new,open
visibility=public
kind=defined
source_location=refm/api/src/socket/UDPSocket:7

--- open(address_family=Socket::AF_INET) -> UDPSocket
--- new(address_family=Socket::AF_INET) -> UDPSocket
新しい UDP ソケットを返します。

address_family には Socket::AF_INET のような整数、:INET のような
シンボル、"INET" のような文字列を指定することができます。

  require 'socket'

  UDPSocket.new                   # => #<UDPSocket:fd 3>
  UDPSocket.new(Socket::AF_INET6) # => #<UDPSocket:fd 4>

@param address_family ソケットのアドレスファミリー
