names=AF_ISO,AF_OSI,PF_ISO,PF_OSI
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const AF_ISO -> Integer
### const AF_OSI -> Integer
### const PF_ISO -> Integer
### const PF_OSI -> Integer
@todo
ISO Open Systems Interconnection protocols。
[m:Socket.open] の第一引数 domain に使用します。


