names=INET6_ADDRSTRLEN
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=INET6_ADDRSTRLEN=1.9.3
until_by_name=
rbs_sig=(uninitialized)

### const INET6_ADDRSTRLEN -> Integer

IPv6アドレス文字列の最大長。

- **SEE** [man:netinet/in.h(header)]

