names=IP_PKTOPTIONS
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const IP_PKTOPTIONS -> Integer
@todo
Receive packet options with datagrams

