names=MSG_COMPAT
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=

### const MSG_COMPAT -> Integer
@todo
End of record

