names=MSG_EOF
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=

### const MSG_EOF -> Integer

Data completes connection。

[m:BasicSocket#send], [m:BasicSocket#sendmsg],
[m:BasicSocket#recv], [m:BasicSocket#recvmsg] の
flags 引数に用います。

- **SEE** [man:send(2freebsd)]

