names=MSG_HAVEMORE
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const MSG_HAVEMORE -> Integer
@todo
Data ready to be read


