names=PF_UNSPEC
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:283

--- PF_UNSPEC -> Integer
プロトコルファミリー不定。

@see [[m:Socket::Constants::AF_UNSPEC]], [[m:Socket.open]]


