names=PF_UNSPEC
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=
rbs_sig=(uninitialized)

### const PF_UNSPEC -> Integer

プロトコルファミリー不定。

- **SEE** [m:Socket::Constants::AF_UNSPEC], [m:Socket.open]

