names=AF_UNSPEC
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:258

--- AF_UNSPEC -> Integer

アドレスファミリー不定。

@see [[m:Socket.open]], [[man:sys/socket.h(header)]]


