names=AF_ISO,AF_OSI,PF_ISO,PF_OSI
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:132

--- AF_ISO -> Integer
--- AF_OSI -> Integer
--- PF_ISO -> Integer
--- PF_OSI -> Integer
@todo
ISO Open Systems Interconnection protocols。
[[m:Socket.open]] の第一引数 domain に使用します。


