names=IFF_SLAVE_INACTIVE
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:2499

--- IFF_SLAVE_INACTIVE

bonding slave not the curr. active

