names=MSG_EOF
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:1534

--- MSG_EOF -> Integer
Data completes connection。

[[m:BasicSocket#send]], [[m:BasicSocket#sendmsg]],
[[m:BasicSocket#recv]], [[m:BasicSocket#recvmsg]] の
flags 引数に用います。

@see [[man:send(2freebsd)]]

