names=ipv4_multicast_ttl
visibility=public
kind=defined
source_location=manual/api/socket/Socket__Option.md
since_by_name=ipv4_multicast_ttl=2.1.0
until_by_name=
rbs_sig=(uninitialized)

### def ipv4_multicast_ttl -> Integer
{: since="2.1.0"}

オプションが IPPROTO_IP/IP_MULTICAST_TTL である場合に、オプションのデータ(内容)を整数に変換して返します。

- **raise** `TypeError` -- family が AF_INET でない、または level/optname が IPPROTO_IP/IP_MULTICAST_TTL でない場合に発生します
- **SEE** [m:Socket::Option#data]

