names=optname
visibility=public
kind=defined
source_location=manual/api/socket/Socket__Option.md
since_by_name=optname=1.9.3
until_by_name=

### def optname -> Integer

ソケットのオプション名を表す整数を返します。

