names=ipv6_loopback?
visibility=public
kind=defined
source_location=manual/api/socket/Addrinfo.md

### def ipv6_loopback? -> bool
IPv6 のループバックアドレス(::1)であれば真を返します。

- **SEE** [m:Addrinfo#ipv4_loopback?]


