names=ipv6_multicast?
visibility=public
kind=defined
source_location=refm/api/src/socket/Addrinfo:304

--- ipv6_multicast? -> bool
IPv6 のマルチキャストアドレス(ff00::/8)であれば真を返します。


