names=afamily
visibility=public
kind=defined
source_location=manual/api/socket/Addrinfo.md
since_by_name=afamily=1.9.3
until_by_name=

### def afamily -> Integer

アドレスファミリーを整数で返します。

```ruby
require 'socket'

p Addrinfo.tcp("localhost", 80).afamily == Socket::AF_INET # => true
```

