names=ipv4_loopback?
visibility=public
kind=defined
source_location=manual/api/socket/Addrinfo.md
since_by_name=ipv4_loopback=3f=1.9.3
until_by_name=

### def ipv4_loopback? -> bool

IPv4 のループバックアドレス(127.0.0.0/8) であれば真を返します。

- **SEE** [m:Addrinfo#ipv6_loopback?]

