names=ipv6_linklocal?
visibility=public
kind=defined
source_location=manual/api/socket/Addrinfo.md

### def ipv6_linklocal? -> bool
IPv6 のリンクローカルアドレス(fe80::/10, [rfc:4291])であれば真を返します。


