names=ipv4?
visibility=public
kind=defined
source_location=manual/api/socket/Addrinfo.md
since_by_name=ipv4=3f=1.9.3
until_by_name=

### def ipv4? -> bool

アドレスが IPv4 のものならば true を返します。

- **SEE** [m:Addrinfo#ip?], [m:Addrinfo#ipv6?]

```ruby
require 'socket'

p Addrinfo.tcp("127.0.0.1", 80).ipv4? #=> true
p Addrinfo.tcp("::1", 80).ipv4?     #=> false
p Addrinfo.unix("/tmp/sock").ipv4?  #=> false
```

