names=reply
visibility=public
kind=defined
source_location=refm/api/src/socket/Socket__UDPSource

--- reply(msg) -> ()
msg をリモート側の端点へ送ります。

@param msg 送るメッセージ文字列

