names=do_not_reverse_lookup
visibility=public
kind=defined
source_location=manual/api/socket/BasicSocket.md
since_by_name=
until_by_name=
rbs_sig=(uninitialized)

### def BasicSocket.do_not_reverse_lookup -> bool

[m:BasicSocket#do_not_reverse_lookup] の Socket オブジェクト生成時のデフォルト値を返します。

この設定は大域的に作用します。

デフォルトは true です。

