names=family
visibility=public
kind=defined
source_location=manual/api/socket/Socket__AncillaryData.md
since_by_name=family=1.9.3
until_by_name=

### def family -> Integer
自身が保持している socket family を返します。

```ruby
require 'socket'

p Socket::AncillaryData.new(:INET6, :IPV6, :PKTINFO, "").family
#=> 10
```

- **SEE** [m:Socket::AncillaryData.new]

