names=pair,socketpair
visibility=public
kind=defined
source_location=/tmp/claude-1000/-home-debian-rurema/3717a77b-67d6-4a40-b15e-a41ca141ab34/scratchpad/frozen.ZtgaSH/src/refm/api/src/socket/Socket

--- pair(domain, type, protocol=0) -> Array
--- socketpair(domain, type, protocol=0) -> Array

相互に結合されたソケットのペアを含む2要素の配列を返します。
引数の指定は [[m:Socket.open]] と同じです。

@param domain [[m:Socket.open]] を参照してください。

@param type   [[m:Socket.open]] を参照してください。

@param protocol [[m:Socket.open]] を参照してください。

@see [[m:Socket.open]]

