names=BasicAuth
visibility=public
kind=defined
source_location=manual/api/webrick/config.md
since_by_name=
until_by_name=
rbs_sig=(uninitialized)

### const BasicAuth -> Hash

[c:WEBrick::HTTPAuth::BasicAuth] の設定のデフォルト値を保持したハッシュです。

```ruby
require 'webrick'
WEBrick::Config::BasicAuth = {
  :AutoReloadUserDB     => true,
}
```

