names=AF_IPX,PF_IPX
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=
rbs_sig=(uninitialized)

### const AF_IPX -> Integer
### const PF_IPX -> Integer

IPX(Novell Internet Packet eXchange protocol)。
[m:Socket.open] の第一引数 domain に使用します。

- **SEE** [man:socket(3linux)]

