names=AF_NETBIOS,PF_NETBIOS
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=

### const AF_NETBIOS -> Integer
### const PF_NETBIOS -> Integer
@todo
NetBIOS。
[m:Socket.open] の第一引数 domain に使用します。


