names=AF_CCITT,PF_CCITT
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const AF_CCITT -> Integer
### const PF_CCITT -> Integer
@todo
CCITT プロトコル。
[m:Socket.open] の第一引数 domain に使用します。


