names=IP_MSFILTER
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:1140

--- IP_MSFILTER -> Integer
@todo
Multicast source filtering

