names=IP_DEFAULT_MULTICAST_LOOP
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:967

--- IP_DEFAULT_MULTICAST_LOOP -> Integer
@todo
Default multicast loopback


