names=IFF_DYNAMIC
visibility=public
kind=defined
source_location=refm/api/src/socket/constants

--- IFF_DYNAMIC

dialup device with changing addresses

