names=IFF_DYING
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IFF_DYING=2.1.0
until_by_name=

### const IFF_DYING

interface is winding down

