names=IP_PASSSEC
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IP_PASSSEC=1.9.3
until_by_name=

### const IP_PASSSEC -> Integer
@todo
Retrieve security context with datagram。


