names=MSG_FIN
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=MSG_FIN=1.9.3
until_by_name=

### const MSG_FIN -> Integer
@todo

