names=MSG_RCVMORE
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:1570

--- MSG_RCVMORE -> Integer
@todo
Data remains in the current packet

