names=SO_ALLZONES
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const SO_ALLZONES -> Integer
@todo
Bypass zone boundaries。

