names=SO_DONTTRUNC
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=
rbs_sig=(uninitialized)

### const SO_DONTTRUNC -> Integer
@todo
Retain unread data

