names=SO_WANTOOBFLAG
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=
rbs_sig=(uninitialized)

### const SO_WANTOOBFLAG -> Integer
@todo
OOB data is wanted in MSG_FLAG on receive。

