names=SO_WANTOOBFLAG
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:2094

--- SO_WANTOOBFLAG -> Integer
@todo
OOB data is wanted in MSG_FLAG on receive。

