names=SCM_UCRED
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=SCM_UCRED=1.9.3
until_by_name=

### const SCM_UCRED -> Integer
@todo
User credentials。


