names=SCM_TIMESTAMP
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=SCM_TIMESTAMP=1.9.3
until_by_name=

### const SCM_TIMESTAMP -> Integer
Timestamp (timeval).

[c:Socket::AncillaryData] の type として利用します。

- **SEE** [c:Socket::AncillaryData], [m:Socket::AncillaryData#timestamp]
     [m:BasicSocket#sendmsg], [m:BasicSocket#recvmsg]

