names=SO_SECURITY_AUTHENTICATION
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=

### const SO_SECURITY_AUTHENTICATION -> Integer
@todo

