names=SCM_RIGHTS
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=SCM_RIGHTS=1.9.3
until_by_name=
rbs_sig=(uninitialized)

### const SCM_RIGHTS -> Integer

Access rights.

[c:Socket::AncillaryData] の type として利用します。

- **SEE** [c:Socket::AncillaryData], [m:Socket::AncillaryData#unix_rights]
     [m:BasicSocket#sendmsg], [m:BasicSocket#recvmsg],
     [man:unix(7linux)], [man:unix(4freebsd)],
     [man:sys/socket.h(header)]

