names=SCM_BINTIME
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=SCM_BINTIME=1.9.3
until_by_name=

### const SCM_BINTIME -> Integer

Timestamp (bintime).

[c:Socket::AncillaryData] の type として利用します。

- **SEE** [c:Socket::AncillaryData], [m:Socket::AncillaryData#timestamp]
     [m:BasicSocket#sendmsg], [m:BasicSocket#recvmsg]

