names=SOPRI_INTERACTIVE
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:2194

--- SOPRI_INTERACTIVE -> Integer
@todo
Interactive socket priority

