names=SO_ALLZONES
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=SO_ALLZONES=1.9.3
until_by_name=

### const SO_ALLZONES -> Integer
@todo
Bypass zone boundaries。

