names=TCP_NOOPT
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=TCP_NOOPT=1.9.3
until_by_name=
rbs_sig=(uninitialized)

### const TCP_NOOPT -> Integer

Don't use TCP options。
[m:BasicSocket#getsockopt], [m:BasicSocket#setsockopt]
の第2引数(optname)に使用します。

- **SEE** [man:tcp(4freebsd)], [man:tcp(7linux)]

