names=TCP_KEEPIDLE
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=TCP_KEEPIDLE=1.9.3
until_by_name=

### const TCP_KEEPIDLE -> Integer
Idle time before keepalive probes are sent。
[m:BasicSocket#getsockopt], [m:BasicSocket#setsockopt]
の第2引数(optname)に使用します。

- **SEE** [man:tcp(7linux)]

