names=AI_DEFAULT
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=
rbs_sig=(uninitialized)

### const AI_DEFAULT -> Integer

Default flags for getaddrinfo。

[m:Socket.getaddrinfo], [m:Addrinfo.getaddrinfo] の引数 flags に渡す定数です。

- **SEE** [man:getipnodebyname(3freebsd)]

