names=AF_PPP,PF_PPP
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=

### const AF_PPP -> Integer
### const PF_PPP -> Integer
@todo
Point-to-Point Protocol。
[m:Socket.open] の第一引数 domain に使用します。


