names=AF_NETGRAPH,PF_NETGRAPH
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=

### const AF_NETGRAPH -> Integer
### const PF_NETGRAPH -> Integer

Netgraph sockets。
[m:Socket.open] の第一引数 domain に使用します。

- **SEE** [man:socket(2freebsd)]

