names=IFF_MASTER_ALB
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:2431

--- IFF_MASTER_ALB

bonding master, balance-alb.

