names=IFF_BRIDGE_PORT
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:2339

--- IFF_BRIDGE_PORT

device used as bridge port

