names=IFF_SIMPLEX
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const IFF_SIMPLEX

can't hear own transmissions

