names=IP_XFRM_POLICY
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IP_XFRM_POLICY=1.9.3
until_by_name=

### const IP_XFRM_POLICY -> Integer
@todo

