names=IFF_RENAMING
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const IFF_RENAMING

interface is being renamed

