names=IFF_DONT_BRIDGE
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const IFF_DONT_BRIDGE

disallow bridging this ether dev

