names=IFF_MASTER_ALB
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const IFF_MASTER_ALB

bonding master, balance-alb.

