names=IP_RECVERR
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IP_RECVERR=1.9.3
until_by_name=
rbs_sig=(uninitialized)

### const IP_RECVERR -> Integer

Enable extended reliable error message passing。
[m:BasicSocket#getsockopt], [m:BasicSocket#setsockopt]
の第2引数(optname)に使用します。

- **SEE** [m:Socket::Constants::IPPROTO_IP], [man:ip(4freebsd)]

