names=IPX_TYPE
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IPX_TYPE=1.9.3
until_by_name=
rbs_sig=(uninitialized)

### const IPX_TYPE -> Integer
@todo

