names=IP_RECVRETOPTS
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:1049

--- IP_RECVRETOPTS -> Integer
@todo
Receive all IP options for response

