names=IFF_OVS_DATAPATH
visibility=public
kind=defined
source_location=refm/api/src/socket/constants

--- IFF_OVS_DATAPATH

device used as Open vSwitch datapath port

