names=MSG_HOLD
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=
rbs_sig=(uninitialized)

### const MSG_HOLD -> Integer
@todo
Hold fragment in so_temp

