names=SO_MAC_EXEMPT
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:2113

--- SO_MAC_EXEMPT -> Integer
@todo
Mandatory Access Control exemption for unlabeled peers。

