names=SO_NKE
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:1941

--- SO_NKE -> Integer
@todo
socket-level Network Kernel Extension。

