names=SCM_UCRED
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const SCM_UCRED -> Integer
@todo
User credentials。


