names=SO_NO_CHECK
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=

### const SO_NO_CHECK -> Integer
@todo
Disable checksums。

