names=SHUT_RDWR
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:1845

--- SHUT_RDWR -> Integer
[[m:BasicSocket#shutdown]] の how 引数に使用します。

