names=SO_NREAD
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=
rbs_sig=(uninitialized)

### const SO_NREAD -> Integer
@todo
Get first packet byte count。

