names=SO_REUSEPORT
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=

### const SO_REUSEPORT -> Integer

Allow local address and port reuse。
[m:BasicSocket#getsockopt], [m:BasicSocket#setsockopt]
の第2引数(optname)に使用します。

- **SEE** [man:getsockopt(2freebsd)], [m:Socket::Constants::SOL_SOCKET]
     
