names=accept_nonblock
visibility=public
kind=defined
source_location=manual/api/socket/Socket.md
since_by_name=
until_by_name=
rbs_sig=(uninitialized)

### def accept_nonblock -> Array

ソケットをノンブロッキングモードに設定した後、
[man:accept(2)] を呼び出します。

引数、返り値は [m:Socket#accept] と同じです。

[man:accept(2)] がエラーになった場合、
EAGAIN, EINTR を含め例外 [c:Errno::EXXX] が発生します。

