names=sysaccept
visibility=public
kind=defined
source_location=refm/api/src/socket/Socket:929

--- sysaccept -> Array

接続したクライアントのファイル記述子とアドレスのペアを返すことを除
けば [[m:Socket#accept]] と同じです。

