names=unpack_sockaddr_un
visibility=public
kind=defined
source_location=manual/api/socket/Socket.md
since_by_name=
until_by_name=

### def unpack_sockaddr_un(sockaddr) -> String

[ref:lib:socket#pack_string]を
unpack したソケットパス名を返します。

- **param** `sockaddr` -- [ref:lib:socket#pack_string]を指定します。

```text title="例"
require 'socket'
p Socket.unpack_sockaddr_un(Socket.sockaddr_un("/tmp/.X11-unix/X0"))
=> "/tmp/.X11-unix/X0"
```

