names=dstaddr
visibility=public
kind=defined
source_location=manual/api/socket/Socket__Ifaddr.md
since_by_name=dstaddr=2.1.0
until_by_name=

### def dstaddr -> Addrinfo | nil

self の宛先アドレスを [c:Addrinfo] オブジェクトで返します。
self.flags で [m:Socket::IFF_POINTOPOINT] が有効ではない場合は nil を返します。

