names=ifindex
visibility=public
kind=defined
source_location=refm/api/src/socket/Socket__Ifaddr:15

--- ifindex -> Integer

self のインターフェイスのインデックスを返します。

