names=AF_IMPLINK,PF_IMPLINK
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=

### const AF_IMPLINK -> Integer
### const PF_IMPLINK -> Integer
@todo
ARPANET IMP。
[m:Socket.open] の第一引数 domain に使用します。


