names=AF_SIP,PF_SIP
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const AF_SIP -> Integer
### const PF_SIP -> Integer
@todo
Simple Internet Protocol。
[m:Socket.open] の第一引数 domain に使用します。


