names=IFF_DONT_BRIDGE
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IFF_DONT_BRIDGE=2.1.0
until_by_name=

### const IFF_DONT_BRIDGE

disallow bridging this ether dev

