names=IPPROTO_BIP
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:440

--- IPPROTO_BIP -> Integer
@todo
[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]] の 
level 引数に使用します。

また、[[m:Socket.open]] の protocol 引数に渡す利用法もあります。

