names=IP_DEFAULT_MULTICAST_LOOP
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=

### const IP_DEFAULT_MULTICAST_LOOP -> Integer
@todo
Default multicast loopback

