names=IFF_802_1Q_VLAN
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IFF_802_1Q_VLAN=2.1.0
until_by_name=
rbs_sig=(uninitialized)

### const IFF_802_1Q_VLAN

802.1Q VLAN device

