names=MSG_HAVEMORE
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=

### const MSG_HAVEMORE -> Integer
@todo
Data ready to be read


