names=PF_PIP
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=

### const PF_PIP -> Integer

Help Identify PIP packets。
[m:Socket.open] の第一引数 domain に使用します。

- **SEE** [man:socket(2freebsd)]

