names=PF_XTP
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const PF_XTP -> Integer
@todo
eXpress Transfer Protocol。




