names=PF_XTP
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:288

--- PF_XTP -> Integer
@todo
eXpress Transfer Protocol。




