names=SO_NKE
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const SO_NKE -> Integer
@todo
socket-level Network Kernel Extension。

