names=SO_RECVUCRED
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=SO_RECVUCRED=1.9.3
until_by_name=
rbs_sig=(uninitialized)

### const SO_RECVUCRED -> Integer
@todo
Receive user credentials with datagram。

