names=SOL_ATALK
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:2139

--- SOL_ATALK -> Integer
@todo
AppleTalk socket options。
[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]]
の第一引数(level)に使用します。

