names=ipv6only!
visibility=public
kind=defined
source_location=manual/api/socket/Socket.md
since_by_name=ipv6only=21=1.9.3
until_by_name=

### def ipv6only! -> ()

ソケットの IPV6_V6ONLY オプションを有効にします。

IPV6_V6ONLY オプションが使えない場合はこのメソッドは何もしません。

