names=AF_DEC,PF_DEC
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=
rbs_sig=(uninitialized)

### const AF_DEC -> Integer
### const PF_DEC -> Integer
@todo
DECnet protocol。
[m:Socket.open] の第一引数 domain に使用します。

