names=IPPROTO_HOPOPTS
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IPPROTO_HOPOPTS=1.9.3
until_by_name=
rbs_sig=(uninitialized)

### const IPPROTO_HOPOPTS -> Integer

IPv6 hop-by-hop options。
[m:BasicSocket#getsockopt], [m:BasicSocket#setsockopt] の
level 引数に使用します。

また、[m:Socket.open] の protocol 引数に渡す利用法もあります。

- **SEE** [rfc:2292]

