names=IFF_RUNNING
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IFF_RUNNING=2.1.0
until_by_name=
rbs_sig=(uninitialized)

### const IFF_RUNNING

resources allocated

