names=IFF_ALLMULTI
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:2323

--- IFF_ALLMULTI

receive all multicast packets

