names=NI_MAXHOST
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:903

--- NI_MAXHOST -> Integer

[[man:getnameinfo(3)]] で用いるホスト名文字列の最大長さ。

@see [[man:getnameinfo(3linux)]]

