names=PF_MAX
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:265

--- PF_MAX -> Integer
プロトコルファミリーの最大数。

@see [[m:Socket::Constants::AF_MAX]]

