names=SOMAXCONN
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:2132

--- SOMAXCONN -> Integer
[[m:Socket#listen]] の backlog の最大長。

@see [[man:sys/socket.h(header)]], [[man:listen(2)]]


