names=AI_PASSIVE
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=

### const AI_PASSIVE -> Integer
Get address to use with bind。

[m:Socket.getaddrinfo], [m:Addrinfo.getaddrinfo] の引数 flags に渡す
定数です。

- **SEE** [man:getaddrinfo(3)]

