names=AF_PACKET,PF_PACKET
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const AF_PACKET -> Integer
### const PF_PACKET -> Integer

デバイスレベルインターフェース。
[m:Socket.open] の第一引数 domain に使用します。

- **SEE** [man:socket(2linux)], [man:packet(7linux)]     
