names=EAI_MAX
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=

### const EAI_MAX -> Integer

EAI_* 定数の最大値。

