names=IFF_SLAVE_NEEDARP
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const IFF_SLAVE_NEEDARP

need ARPs for validation

