names=IFF_SUPP_NOFCS
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IFF_SUPP_NOFCS=2.1.0
until_by_name=

### const IFF_SUPP_NOFCS

sending custom FCS

