names=INET_ADDRSTRLEN
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=INET_ADDRSTRLEN=1.9.3
until_by_name=

### const INET_ADDRSTRLEN -> Integer

IPv4アドレス文字列の最大長。

- **SEE** [man:netinet/in.h(header)]

