names=IFF_WAN_HDLC
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IFF_WAN_HDLC=2.1.0
until_by_name=
rbs_sig=(uninitialized)

### const IFF_WAN_HDLC

WAN HDLC device

