names=MSG_SEND
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=

### const MSG_SEND -> Integer
@todo
Send the packet in so_temp

