names=PF_MAX
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=
rbs_sig=(uninitialized)

### const PF_MAX -> Integer

プロトコルファミリーの最大数。

- **SEE** [m:Socket::Constants::AF_MAX]

