names=SO_PEERNAME
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const SO_PEERNAME -> Integer
@todo
Name of the connecting user。

