names=SO_RECVUCRED
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:2117

--- SO_RECVUCRED -> Integer
@todo
Receive user credentials with datagram。

