names=UDP_CORK
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=UDP_CORK=1.9.3
until_by_name=

### const UDP_CORK -> Integer
Don't send partial frames
[m:BasicSocket#getsockopt], [m:BasicSocket#setsockopt]
の第2引数(optname)に使用します。

- **SEE** [man:udp(7linux)]


