names=sysaccept
visibility=public
kind=defined
source_location=manual/api/socket/Socket.md
since_by_name=
until_by_name=
rbs_sig=(uninitialized)

### def sysaccept -> Array

接続したクライアントのファイル記述子とアドレスのペアを返すことを除けば [m:Socket#accept] と同じです。

