names=inspect
visibility=public
kind=defined
source_location=refm/api/src/socket/Socket__Ifaddr:7

--- inspect -> String

self の情報を人間に読みやすい文字列にして返します。

