names=pfamily
visibility=public
kind=defined
source_location=refm/api/src/socket/Addrinfo:173

--- pfamily -> Integer
プロトコルファミリーを整数で返します。

  require 'socket'

  Addrinfo.tcp("localhost", 80).pfamily == Socket::PF_INET #=> true

