names=IP_DEFAULT_MULTICAST_TTL
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:972

--- IP_DEFAULT_MULTICAST_TTL -> Integer
@todo
Default multicast TTL


