names=IFF_DONT_BRIDGE
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:2359

--- IFF_DONT_BRIDGE

disallow bridging this ether dev

