names=IP_RECVIF
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:1216

--- IP_RECVIF -> Integer
Receive interface information with datagrams。
[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]]
の第2引数(optname)に使用します。

@see [[m:Socket::Constants::IPPROTO_IP]], [[man:ip(4freebsd)]]

