names=MSG_HOLD
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:1566

--- MSG_HOLD -> Integer
@todo
Hold fragment in so_temp

