names=SO_ALLZONES
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:2099

--- SO_ALLZONES -> Integer
@todo
Bypass zone boundaries。

