names=level
visibility=public
kind=defined
source_location=manual/api/socket/Socket__Option.md
since_by_name=level=1.9.3
until_by_name=

### def level -> Integer

ソケットオプションレベルを表す整数を返します。

