names=ipv6_sitelocal?
visibility=public
kind=defined
source_location=refm/api/src/socket/Addrinfo:312

--- ipv6_sitelocal? -> bool
IPv6 のサイトローカルアドレス(fec0::/10, [[rfc:3513]])であれば真を返します。

