names=ipv6_linklocal?
visibility=public
kind=defined
source_location=refm/api/src/socket/Addrinfo:308

--- ipv6_linklocal? -> bool
IPv6 のリンクローカルアドレス(fe80::/10, [[rfc:4291]])であれば真を返します。


