names=sendmsg_nonblock
visibility=public
kind=defined
source_location=manual/api/socket/BasicSocket.md
since_by_name=sendmsg_nonblock=1.9.3
until_by_name=
rbs_sig=(uninitialized)

### def sendmsg_nonblock(mesg, flags=0, dest_sockaddr=nil, *controls) -> Integer

[man:sendmsg(2)] を用いてノンブロッキング方式でメッセージを送ります。

詳しくは [m:BasicSocket#sendmsg] を見てください。

- **return** -- 送ったバイト数
- **param** `mesg` -- メッセージ文字列
- **param** `flags` -- フラグ(Socket::MSG_* という定数の bitwise OR を取ったもの)
- **param** `dest_sockaddr` -- 通信先のアドレス
- **param** `controls` -- 補助データの配列
- **SEE** [m:BasicSocket#sendmsg]
