names=broadaddr
visibility=public
kind=defined
source_location=manual/api/socket/Socket__Ifaddr.md
since_by_name=broadaddr=2.1.0
until_by_name=
rbs_sig=(uninitialized)

### def broadaddr -> Addrinfo | nil

self のブロードキャストアドレスを [c:Addrinfo] オブジェクトで返します。
self.flags で [m:Socket::IFF_BROADCAST] が有効ではない場合は nil を返します。

