names=broadaddr
visibility=public
kind=defined
source_location=manual/api/socket/Socket__Ifaddr.md

### def broadaddr -> Addrinfo | nil

self のブロードキャストアドレスを [c:Addrinfo] オブジェクトで返します。
self.flags で [m:Socket::IFF_BROADCAST] が有効ではない場合は nil を返します。

