names=vhid
visibility=public
kind=defined
source_location=manual/api/socket/Socket__Ifaddr.md
since_by_name=vhid=2.5.0
until_by_name=
rbs_sig=(uninitialized)

### def vhid -> Integer | nil

self のバーチャルホストIDを返します。
バーチャルホストIDがない場合は nil を返します。

サポートされていない環境ではメソッド自体が定義されていません。
