names=ipv4_private?
visibility=public
kind=defined
source_location=manual/api/socket/Addrinfo.md
since_by_name=ipv4_private=3f=1.9.3
until_by_name=
rbs_sig=(uninitialized)

### def ipv4_private? -> bool

IPv4 のプライベートアドレス(10.0.0.0/8, 172.16.0.0/12, 192.168.0.0/16)
であれば真を返します。

