names=ipv4_multicast?
visibility=public
kind=defined
source_location=refm/api/src/socket/Addrinfo:296

--- ipv4_multicast? -> bool

IPv4 のマルチキャストアドレス(224.0.0.0/4)であれば真を返します。

