names=ipv6_unspecified?
visibility=public
kind=defined
source_location=refm/api/src/socket/Addrinfo:300

--- ipv6_unspecified? -> bool

IPv6 の不特定アドレス(unspecified address)(::)であれば真を返します。

