names=ipv6_loopback?
visibility=public
kind=defined
source_location=manual/api/socket/Addrinfo.md
since_by_name=ipv6_loopback=3f=1.9.3
until_by_name=

### def ipv6_loopback? -> bool
IPv6 のループバックアドレス(::1)であれば真を返します。

- **SEE** [m:Addrinfo#ipv4_loopback?]


