names=ip_address
visibility=public
kind=defined
source_location=manual/api/socket/Addrinfo.md
since_by_name=ip_address=1.9.3
until_by_name=

### def ip_address -> String
IP アドレスを文字列で返します。

```ruby
require 'socket'

p Addrinfo.tcp("127.0.0.1", 80).ip_address  #=> "127.0.0.1"
p Addrinfo.tcp("::1", 80).ip_address        #=> "::1"
```

- **SEE** [m:Addrinfo#ip_port], [m:Addrinfo#ip_unpack]

