names=to_s,to_sockaddr
visibility=public
kind=defined
source_location=manual/api/socket/Addrinfo.md
since_by_name=to_s=1.9.3,to_sockaddr=1.9.3
until_by_name=

### def to_sockaddr -> String
### def to_s -> String

struct sockaddr をパックした形式の文字列に変換します。

```ruby
require 'socket'

p Addrinfo.tcp("localhost", 80).to_sockaddr
# => "\x02\x00\x00P\x7F\x00\x00\x01\x00\x00\x00\x00\x00\x00\x00\x00"
```

