names=type
visibility=public
kind=defined
source_location=manual/api/socket/Socket__AncillaryData.md
since_by_name=type=1.9.3
until_by_name=

### def type -> Integer

自身が保持している cmsg type (種類) を返します。

```ruby
require 'socket'

p Socket::AncillaryData.new(:INET6, :IPV6, :PKTINFO, "").type
#=> 2
```

- **SEE** [m:Socket::AncillaryData.new]

