names=ipv6_pktinfo
visibility=public
kind=defined
source_location=manual/api/socket/Socket__AncillaryData.md
since_by_name=ipv6_pktinfo=1.9.3
until_by_name=

### def Socket::AncillaryData.ipv6_pktinfo(addr, ifindex) -> Socket::AncillaryData

type が IPV6_PKTINFO である AncillaryData を生成します。

IPV6_PKTINFO は [RFC:3542] で定義されています。

```ruby
require 'socket'

addr = Addrinfo.ip("::1")
ifindex = 0
p Socket::AncillaryData.ipv6_pktinfo(addr, ifindex)
#=> #<Socket::AncillaryData: INET6 IPV6 PKTINFO ::1 ifindex:0>
```

- **param** `addr` -- アドレス(文字列もしくは [c:Addrinfo])
- **param** `ifindex` -- インターフェースのインデックス(整数)

- **SEE** [m:Socket::AncillaryData#ipv6_pktinfo],
     [m:Socket::Constants::IPV6_PKTINFO]

