names=data
visibility=public
kind=defined
source_location=manual/api/socket/Socket__AncillaryData.md

### def data -> String
自身が保持している cmsg data (データ) を返します。

`````
require 'socket'

p Socket::AncillaryData.new(:INET6, :IPV6, :PKTINFO, "").type
#=> ""
`````

- **SEE** [m:Socket::AncillaryData.new]

