names=type
visibility=public
kind=defined
source_location=refm/api/src/socket/Socket__AncillaryData:150

--- type -> Integer
自身が保持している cmsg type (種類) を返します。

  require 'socket'

  p Socket::AncillaryData.new(:INET6, :IPV6, :PKTINFO, "").type
  #=> 2

@see [[m:Socket::AncillaryData.new]]

