names=AF_NS,PF_NS
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=
rbs_sig=(uninitialized)

### const AF_NS -> Integer
### const PF_NS -> Integer
@todo
XEROX NS protocol。
[m:Socket.open] の第一引数 domain に使用します。

