names=AF_CNT,PF_CNT
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:40

--- AF_CNT -> Integer
--- PF_CNT -> Integer
@todo
Computer Network Technology。
[[m:Socket.open]] の第一引数 domain に使用します。


