names=AF_ECMA,PF_ECMA
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=
rbs_sig=(uninitialized)

### const AF_ECMA -> Integer
### const PF_ECMA -> Integer
@todo
European computer manufacturers。
[m:Socket.open] の第一引数 domain に使用します。

