names=IP_PASSSEC
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:1165

--- IP_PASSSEC -> Integer
@todo
Retrieve security context with datagram。


