names=IFF_LIVE_ADDR_CHANGE
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:2407

--- IFF_LIVE_ADDR_CHANGE

hardware address change when it's running

