names=IFF_EBRIDGE
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IFF_EBRIDGE=2.1.0
until_by_name=

### const IFF_EBRIDGE

ethernet bridging device

