names=IFF_MASTER_ARPMON
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IFF_MASTER_ARPMON=2.1.0
until_by_name=
rbs_sig=(uninitialized)

### const IFF_MASTER_ARPMON

bonding master, ARP mon in use

