names=IP_PKTOPTIONS
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:1177

--- IP_PKTOPTIONS -> Integer
@todo
Receive packet options with datagrams

