names=IFF_XMIT_DST_RELEASE
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const IFF_XMIT_DST_RELEASE

dev_hard_start_xmit() is allowed to release skb->dst

