names=LOCAL_CREDS
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=LOCAL_CREDS=1.9.3
until_by_name=

### const LOCAL_CREDS -> Integer

Pass credentials to receiver。
[m:BasicSocket#getsockopt], [m:BasicSocket#setsockopt]
の第2引数(optname)に使用します。

- **SEE** [man:ip(4freebsd)]

