names=MCAST_LEAVE_GROUP
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=MCAST_LEAVE_GROUP=1.9.3
until_by_name=

### const MCAST_LEAVE_GROUP -> Integer

Leave a multicast group

[m:BasicSocket#getsockopt], [m:BasicSocket#setsockopt]
の第2引数(optname)に使用します。

- **SEE** [m:Socket::Constants::IPPROTO_IP], [m:Socket::Constants::IPPROTO_IPV6],
     [RFC:3678]

