names=SO_NO_CHECK
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:1953

--- SO_NO_CHECK -> Integer
@todo
Disable checksums。

