names=SO_TIMESTAMPNS
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const SO_TIMESTAMPNS -> Integer
@todo
Receive nanosecond timestamp with datagrams (timespec)。

- **SEE** [m:Socket::Constants::SO_TIMESTAMP],
     [m:Socket::AncillaryData#timestamp]



