names=SOCK_RAW
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=

### const SOCK_RAW -> Integer

RAW ソケット。
[m:Socket.open] の第二引数 type に使用します。

- **SEE** [man:sys/socket.h(header)], [man:socket(2linux)], 
     [man:raw(7linux)], [m:Socket.open]

