names=TCP_KEEPCNT
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=TCP_KEEPCNT=1.9.3
until_by_name=

### const TCP_KEEPCNT -> Integer
Maximum number of keepalive probes allowed before dropping a connection。
[m:BasicSocket#getsockopt], [m:BasicSocket#setsockopt]
の第2引数(optname)に使用します。

- **SEE** [man:tcp(7linux)]

