# OpenSSL::X509::V_ERR_APPLICATION_VERIFICATION

### const V_ERR_APPLICATION_VERIFICATION -> Integer

アプリケーションが利用するエラーコードです。

OpenSSL のライブラリでは使われないので、アプリケーションプログラマが自由に利用することが可能です。

[OpenSSL::X509::Store#error](../../../method/OpenSSL=3a=3aX509=3a=3aStore/i/error.md) や
[OpenSSL::X509::StoreContext#error](../../../method/OpenSSL=3a=3aX509=3a=3aStoreContext/i/error.md) のエラーコードとして使われます。

- **SEE** [OpenSSL::X509::Store#verify_callback=](../../../method/OpenSSL=3a=3aX509=3a=3aStore/i/verify_callback=3d.md),
     [OpenSSL::X509::StoreContext#error=](../../../method/OpenSSL=3a=3aX509=3a=3aStoreContext/i/error=3d.md)
