names=IPV6_MULTICAST_IF
visibility=public
kind=defined
source_location=/tmp/claude-1000/-home-debian-rurema/3717a77b-67d6-4a40-b15e-a41ca141ab34/scratchpad/frozen.xqkPhh/src/refm/api/src/socket/constants

--- IPV6_MULTICAST_IF -> Integer
IP6 multicast interface。
[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]]
の第2引数(optname)に使用します。

@see [[m:Socket::Constants::IPPROTO_IPV6]],
     [[man:netinet/in.h(header)]], [[man:ip6(4freebsd)]], [[man:ipv6(7linux)]],
     [[RFC:3493]]

