names=AF_ATM,PF_ATM
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=

### const AF_ATM -> Integer
### const PF_ATM -> Integer

ATM。
[m:Socket.open] の第一引数 domain に使用します。

- **SEE** [man:socket(2freebsd)]

