names=AF_ROUTE,PF_ROUTE
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const AF_ROUTE -> Integer
### const PF_ROUTE -> Integer
@todo
Internal Routing protocol。
[m:Socket.open] の第一引数 domain に使用します。

@todo

