names=AF_PACKET,PF_PACKET
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=AF_PACKET=1.9.3,PF_PACKET=1.9.3
until_by_name=

### const AF_PACKET -> Integer
### const PF_PACKET -> Integer

デバイスレベルインターフェース。
[m:Socket.open] の第一引数 domain に使用します。

- **SEE** [man:socket(2linux)], [man:packet(7linux)]     

