names=AF_UNSPEC
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const AF_UNSPEC -> Integer

アドレスファミリー不定。

- **SEE** [m:Socket.open], [man:sys/socket.h(header)]


