names=AF_LOCAL,AF_UNIX,PF_LOCAL,PF_UNIX
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=

### const AF_LOCAL -> Integer
### const AF_UNIX -> Integer
### const PF_LOCAL -> Integer
### const PF_UNIX -> Integer

Unix domain socket。
[m:Socket.open] の第一引数 domain に使用します。

- **SEE** [man:sys/socket.h(header)], [man:unix(7linux)]

