names=INADDR_UNSPEC_GROUP
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=
rbs_sig=(uninitialized)

### const INADDR_UNSPEC_GROUP -> Integer

The reserved multicast group。
IPv4の 244.0.0.0 に対応する整数です。

- **SEE** <http://www.iana.org/assignments/multicast-addresses/multicast-addresses.xml>, [RFC:5771]

