names=IFF_MACVLAN_PORT
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const IFF_MACVLAN_PORT

device used as macvlan port

