names=IPV6_RECVTCLASS
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IPV6_RECVTCLASS=1.9.3
until_by_name=
rbs_sig=(uninitialized)

### const IPV6_RECVTCLASS -> Integer

Receive traffic class。
[m:BasicSocket#getsockopt], [m:BasicSocket#setsockopt]
の第2引数(optname)に使用します。

- **SEE** [m:Socket::Constants::IPPROTO_IPV6],
     [RFC:3542]

