names=IFF_CANTCONFIG
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const IFF_CANTCONFIG

unconfigurable using ioctl(2)

