names=IFF_ECHO
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IFF_ECHO=2.1.0
until_by_name=

### const IFF_ECHO

echo sent packets

