names=IFF_DISABLE_NETPOLL
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:2355

--- IFF_DISABLE_NETPOLL

disable netpoll at run-time

