names=MSG_RCVMORE
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const MSG_RCVMORE -> Integer
@todo
Data remains in the current packet

