names=MSG_RST
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=MSG_RST=1.9.3
until_by_name=
rbs_sig=(uninitialized)

### const MSG_RST -> Integer
@todo

