names=SO_BINTIME
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=SO_BINTIME=1.9.3
until_by_name=

### const SO_BINTIME -> Integer

Timestamp (bintime)。
[m:BasicSocket#getsockopt], [m:BasicSocket#setsockopt]
の第2引数(optname)に使用します。

- **SEE** [man:getsockopt(2freebsd)], [m:Socket::Constants::SOL_SOCKET]
     [m:Socket::Constants::SO_TIMESTAMP],
     [m:Socket::AncillaryData#timestamp]

