names=SO_ATTACH_FILTER
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const SO_ATTACH_FILTER -> Integer
Attach socket filter。
[m:BasicSocket#getsockopt], [m:BasicSocket#setsockopt]
の第2引数(optname)に使用します。

- **SEE** [man:socket(7linux)], <http://git.kernel.org/?p=linux/kernel/git/torvalds/linux.git;a=blob;f=Documentation/networking/filter.txt;hb=HEAD>,
     [m:Socket::Constants::SOL_SOCKET]

