names=SO_SECURITY_AUTHENTICATION
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:2036

--- SO_SECURITY_AUTHENTICATION -> Integer
@todo

