names=SHUT_RD
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:1842

--- SHUT_RD -> Integer
[[m:BasicSocket#shutdown]] の how 引数に使用します。

