names=UDP_CORK
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const UDP_CORK -> Integer
Don't send partial frames
[m:BasicSocket#getsockopt], [m:BasicSocket#setsockopt]
の第2引数(optname)に使用します。

- **SEE** [man:udp(7linux)]


