names=AF_PUP,PF_PUP
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const AF_PUP -> Integer
### const PF_PUP -> Integer

PUP(PARC Universal Packet)。
[m:Socket.open] の第一引数 domain に使用します。

- **SEE** [man:socket(2freebsd)]

