names=AF_APPLETALK,PF_APPLETALK
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const AF_APPLETALK -> Integer
### const PF_APPLETALK -> Integer

Apple talk。
[m:Socket.open] の第一引数 domain に使用します。

- **SEE** [man:socket(2linux)], [man:socket(2freebsd)], [man:ddp(7linux)]

