names=AF_ECMA,PF_ECMA
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:81

--- AF_ECMA -> Integer
--- PF_ECMA -> Integer
@todo
European computer manufacturers。
[[m:Socket.open]] の第一引数 domain に使用します。


