names=AI_ALL
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:605

--- AI_ALL -> Integer
Allow all addresses。

[[m:Socket.getaddrinfo]], [[m:Addrinfo.getaddrinfo]] の引数 flags に渡す
定数です。

@see [[man:getaddrinfo(3)]]

