names=AF_ISDN,PF_ISDN
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const AF_ISDN -> Integer
### const PF_ISDN -> Integer
@todo
Integrated Services Digital Network。
[m:Socket.open] の第一引数 domain に使用します。

