names=IPPROTO_MAX
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=
rbs_sig=(uninitialized)

### const IPPROTO_MAX -> Integer

IPPROTO 定数の最大値。

