names=IFF_MACVLAN_PORT
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:2418

--- IFF_MACVLAN_PORT

device used as macvlan port

