names=IFF_BRIDGE_PORT
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IFF_BRIDGE_PORT=2.1.0
until_by_name=

### const IFF_BRIDGE_PORT

device used as bridge port

