names=IFF_CANTCONFIG
visibility=public
kind=defined
source_location=refm/api/src/socket/constants

--- IFF_CANTCONFIG

unconfigurable using ioctl(2)

