names=IFF_MONITOR
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IFF_MONITOR=2.1.0
until_by_name=

### const IFF_MONITOR

user-requested monitor mode

