names=IFF_ALTPHYS
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const IFF_ALTPHYS

use alternate physical connection

