names=LOCAL_CREDS
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:1768

--- LOCAL_CREDS -> Integer
Pass credentials to receiver。
[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]]
の第2引数(optname)に使用します。

@see [[man:ip(4freebsd)]]
