names=NI_NUMERICHOST
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=

### const NI_NUMERICHOST -> Integer

Return a numeric address.

[m:Socket.getnameinfo], [m:Addrinfo#getnameinfo] の引数 flags に渡す定数です。

- **SEE** [man:getnameinfo(3)]

