names=PF_PIP
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:270

--- PF_PIP -> Integer
Help Identify PIP packets。
[[m:Socket.open]] の第一引数 domain に使用します。

@see [[man:socket(2freebsd)]]

