names=SHUT_WR
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=

### const SHUT_WR -> Integer
[m:BasicSocket#shutdown] の how 引数に使用します。

