names=SCM_CREDS
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=SCM_CREDS=1.9.3
until_by_name=

### const SCM_CREDS -> Integer
Process credentials

[c:Socket::AncillaryData] の type として利用します。

- **SEE** [c:Socket::AncillaryData], 
     [m:BasicSocket#sendmsg], [m:BasicSocket#recvmsg],
     [man:unix(4freebsd)]

