names=ipv6_unspecified?
visibility=public
kind=defined
source_location=manual/api/socket/Addrinfo.md
since_by_name=ipv6_unspecified=3f=1.9.3
until_by_name=

### def ipv6_unspecified? -> bool

IPv6 の不特定アドレス(unspecified address)(::)であれば真を返します。

