names=ipv6?
visibility=public
kind=defined
source_location=manual/api/socket/Addrinfo.md
since_by_name=ipv6=3f=1.9.3
until_by_name=

### def ipv6? -> bool
アドレスが IPv6 のものならば true を返します。

```ruby
require 'socket'

p Addrinfo.tcp("127.0.0.1", 80).ipv6? #=> false
p Addrinfo.tcp("::1", 80).ipv6?     #=> true
p Addrinfo.unix("/tmp/sock").ipv6?  #=> false
```

- **SEE** [m:Addrinfo#ipv4?], [m:Addrinfo#ip?]

