names=ipv6_mc_linklocal?
visibility=public
kind=defined
source_location=refm/api/src/socket/Addrinfo:339

--- ipv6_mc_linklocal? -> bool
IPv6 のマルチキャスト(リンクローカルスコープ)アドレスであれば真を返します。


