names=unix?
visibility=public
kind=defined
source_location=manual/api/socket/Addrinfo.md
since_by_name=unix=3f=1.9.3
until_by_name=

### def unix? -> bool

アドレスが Unix domain socket のものならば true を返します。

```ruby
require 'socket'

p Addrinfo.tcp("127.0.0.1", 80).unix? # => false
p Addrinfo.tcp("::1", 80).unix?     # => false
p Addrinfo.unix("/tmp/sock").unix?  # => true
```

- **SEE** [m:Addrinfo#ip?]

