names=unix_rights
visibility=public
kind=defined
source_location=/tmp/claude-1000/-home-debian-rurema/3717a77b-67d6-4a40-b15e-a41ca141ab34/scratchpad/frozen.Phg2K5/src/refm/api/src/socket/Socket__AncillaryData

--- unix_rights(*ios) -> Socket::AncillaryData
ios で指定したファイルのファイルデスクリプタを
データとして持つ family=AF_UNIX, level=SOL_SOCKET, type=SCM_RIGHTS
という Socket::AncillaryData オブジェクトを生成して返します。

  require 'socket'

  p Socket::AncillaryData.unix_rights(STDERR)
  #=> #<Socket::AncillaryData: UNIX SOCKET RIGHTS 2>

@param ios IO オブジェクトの配列
@see [[m:Socket::AncillaryData#unix_rights]],
     [[m:Socket::Constants::SCM_RIGHTS]]

