names=AF_PPP,PF_PPP
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:205

--- AF_PPP -> Integer
--- PF_PPP -> Integer
@todo
Point-to-Point Protocol。
[[m:Socket.open]] の第一引数 domain に使用します。


