names=IFF_DYNAMIC
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:2379

--- IFF_DYNAMIC

dialup device with changing addresses

