names=IP_PKTINFO
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:1170

--- IP_PKTINFO -> Integer
Receive packet information with datagrams。
[[m:BasicSocket#getsockopt]], [[m:BasicSocket#setsockopt]]
の第2引数(optname)に使用します。

@see [[m:Socket::Constants::IPPROTO_IP]], [[man:ip(7linux)]]

