names=ipv6_mc_orglocal?
visibility=public
kind=defined
source_location=manual/api/socket/Addrinfo.md

### def ipv6_mc_orglocal? -> bool
IPv6 のマルチキャスト(組織(organization)ローカルスコープ)
アドレスであれば真を返します。


