names=pfamily
visibility=public
kind=defined
source_location=manual/api/socket/Addrinfo.md
since_by_name=pfamily=1.9.3
until_by_name=

### def pfamily -> Integer

プロトコルファミリーを整数で返します。

```ruby
require 'socket'

p Addrinfo.tcp("localhost", 80).pfamily == Socket::PF_INET # => true
```

