names=socktype
visibility=public
kind=defined
source_location=manual/api/socket/Addrinfo.md
since_by_name=socktype=1.9.3
until_by_name=

### def socktype -> Integer

ソケットタイプを整数で返します。

```ruby
require 'socket'

p Addrinfo.tcp("localhost", 80).socktype == Socket::SOCK_STREAM # => true
```

