names=socktype
visibility=public
kind=defined
source_location=refm/api/src/socket/Addrinfo:180

--- socktype -> Integer

ソケットタイプを整数で返します。

  require 'socket'

  Addrinfo.tcp("localhost", 80).socktype == Socket::SOCK_STREAM #=> true

