names=socktype
visibility=public
kind=defined
source_location=manual/api/socket/Addrinfo.md

### def socktype -> Integer

ソケットタイプを整数で返します。

```ruby
require 'socket'

p Addrinfo.tcp("localhost", 80).socktype == Socket::SOCK_STREAM #=> true
```

