names=unix?
visibility=public
kind=defined
source_location=refm/api/src/socket/Addrinfo:232

--- unix? -> bool
アドレスが Unix domain socket のものならば true を返します。

  require 'socket'

  Addrinfo.tcp("127.0.0.1", 80).unix? #=> false
  Addrinfo.tcp("::1", 80).unix?       #=> false
  Addrinfo.unix("/tmp/sock").unix?    #=> true

@see [[m:Addrinfo#ip?]]

