names=path
visibility=public
kind=defined
source_location=manual/api/socket/UNIXSocket.md
since_by_name=
until_by_name=
rbs_sig=(uninitialized)

### def path -> String

UNIX ソケットのパスを返します。

クライアント側はパスを持たないため空文字列となります。

```ruby title="例"
require 'socket'

UNIXServer.open("/tmp/s") {|serv|
  p serv.path     # => "/tmp/s"
}
```

