names=path
visibility=public
kind=defined
source_location=refm/api/src/socket/UNIXSocket:80

--- path -> String
UNIX ソケットのパスを返します。

クライアント側はパスを持たないため空文字列となります。

例:

  require 'socket'

  UNIXServer.open("/tmp/s") {|serv|
    p serv.path     #=> "/tmp/s"
  }

