names=flags
visibility=public
kind=defined
source_location=manual/api/socket/Socket__Ifaddr.md
since_by_name=flags=2.1.0
until_by_name=
rbs_sig=(uninitialized)

### def flags -> Integer

self に指定された flags の値を返します。

