names=name
visibility=public
kind=defined
source_location=manual/api/socket/Socket__Ifaddr.md
since_by_name=name=2.1.0
until_by_name=

### def name -> String

self のインターフェイス名を返します。

