names=do_not_reverse_lookup
visibility=public
kind=defined
source_location=refm/api/src/socket/BasicSocket:53

--- do_not_reverse_lookup -> bool

ソケットごとのアドレスからホスト名への逆引きの設定を返します。

真ならアドレスからホスト名への逆引きを行いません。

初期値はソケットを生成したときの
[[m:BasicSocket.do_not_reverse_lookup]] の値になります。

  require 'socket'

  BasicSocket.do_not_reverse_lookup = false
  TCPSocket.open("www.ruby-lang.org", 80) {|sock|
    p sock.do_not_reverse_lookup      # => false
  }
  BasicSocket.do_not_reverse_lookup = true
  TCPSocket.open("www.ruby-lang.org", 80) {|sock|
    p sock.do_not_reverse_lookup      # => true
  }

@see [[m:BasicSocket#do_not_reverse_lookup=]]

