names=close
visibility=public
kind=defined
source_location=manual/api/socket/SOCKSSocket.md
since_by_name=
until_by_name=
rbs_sig=(uninitialized)

### def close -> nil

ソケットを閉じます。
