names=data
visibility=public
kind=defined
source_location=manual/api/socket/Socket__AncillaryData.md
since_by_name=data=1.9.3
until_by_name=

### def data -> String

自身が保持している cmsg data (データ) を返します。

```ruby
require 'socket'

p Socket::AncillaryData.new(:INET6, :IPV6, :PKTINFO, "").type
# => ""
```

- **SEE** [m:Socket::AncillaryData.new]

