names=unpack
visibility=public
kind=defined
source_location=manual/api/socket/Socket__Option.md
since_by_name=unpack=1.9.3
until_by_name=
rbs_sig=(uninitialized)

### def unpack(template) -> Array

data に対し [m:String#unpack] を呼び出し、その結果を返します。

このメソッドは過去との互換性のために存在します。
