names=new
visibility=public
kind=defined
source_location=/tmp/claude-1000/-home-debian-rurema/3717a77b-67d6-4a40-b15e-a41ca141ab34/scratchpad/frozen.xqkPhh/src/refm/api/src/socket/Socket__UDPSource

--- new(remote_addr, local_addr) {|msg| ... } -> Socket::UDPSource

Socket::UDPSource オブジェクトを生成します。

このメソッドはユーザは直接使いません。[[m:Socket.udp_server_loop]] が
内部で用います。

@param remote_addr リモートのアドレス([[c:Addrinfo]] オブジェクト)
@param local_addr ローカルのアドレス([[c:Addrinfo]] オブジェクト)
