names=reply
visibility=public
kind=defined
source_location=manual/api/socket/Socket__UDPSource.md
since_by_name=reply=1.9.3
until_by_name=
rbs_sig=(uninitialized)

### def reply(msg) -> ()

msg をリモート側の端点へ送ります。

- **param** `msg` -- 送るメッセージ文字列

