names=do_not_reverse_lookup=
visibility=public
kind=defined
source_location=refm/api/src/socket/BasicSocket:75

--- do_not_reverse_lookup=(bool)
アドレスからホスト名への逆引きの設定をソケットごとに設定します。

@param bool この値が真ならアドレスからホスト名への逆引きを行わなくなります。
@see [[m:BasicSocket#do_not_reverse_lookup]]

