names=ipv6_mc_orglocal?
visibility=public
kind=defined
source_location=manual/api/socket/Addrinfo.md
since_by_name=ipv6_mc_orglocal=3f=1.9.3
until_by_name=

### def ipv6_mc_orglocal? -> bool

IPv6 のマルチキャスト(組織(organization)ローカルスコープ)
アドレスであれば真を返します。

