names=ipv6_sitelocal?
visibility=public
kind=defined
source_location=manual/api/socket/Addrinfo.md

### def ipv6_sitelocal? -> bool
IPv6 のサイトローカルアドレス(fec0::/10, [rfc:3513])であれば真を返します。

