names=ipv4_loopback?
visibility=public
kind=defined
source_location=manual/api/socket/Addrinfo.md

### def ipv4_loopback? -> bool

IPv4 のループバックアドレス(127.0.0.0/8) であれば真を返します。

- **SEE** [m:Addrinfo#ipv6_loopback?]

