names=ip?
visibility=public
kind=defined
source_location=manual/api/socket/Addrinfo.md
since_by_name=ip=3f=1.9.3
until_by_name=
rbs_sig=(uninitialized)

### def ip? -> bool

アドレスが IP (v4/v6) のものならば true を返します。

```ruby
require 'socket'

p Addrinfo.tcp("127.0.0.1", 80).ip? # => true
p Addrinfo.tcp("::1", 80).ip?     # => true
p Addrinfo.unix("/tmp/sock").ip?  # => false
```

- **SEE** [m:Addrinfo#ipv4?], [m:Addrinfo#ipv6?], [m:Addrinfo#unix?]

