names=ipv4_multicast?
visibility=public
kind=defined
source_location=manual/api/socket/Addrinfo.md
since_by_name=ipv4_multicast=3f=1.9.3
until_by_name=
rbs_sig=(uninitialized)

### def ipv4_multicast? -> bool

IPv4 のマルチキャストアドレス(224.0.0.0/4)であれば真を返します。

