names=new,open
visibility=public
kind=defined
source_location=manual/api/socket/UDPSocket.md
since_by_name=
until_by_name=

### def UDPSocket.open(address_family=Socket::AF_INET) -> UDPSocket
### def UDPSocket.new(address_family=Socket::AF_INET) -> UDPSocket

新しい UDP ソケットを返します。

address_family には Socket::AF_INET のような整数、:INET のような
シンボル、"INET" のような文字列を指定できます。

```ruby
require 'socket'

p UDPSocket.new                 # => #<UDPSocket:fd 3>
p UDPSocket.new(Socket::AF_INET6) # => #<UDPSocket:fd 4>
```

- **param** `address_family` -- ソケットのアドレスファミリー

