names=linger
visibility=public
kind=defined
source_location=manual/api/socket/Socket__Option.md
since_by_name=linger=1.9.3
until_by_name=
rbs_sig=(uninitialized)

### def Socket::Option.linger(onoff, secs) -> Socket::Option

SOL_SOCKET/SO_LINGER 用の Socket::Option オブジェクトを新たに生成し返します。

- **param** `onoff` -- 0/1もしくは真偽値
- **param** `secs` -- 整数値

