names=AI_V4MAPPED
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:658

--- AI_V4MAPPED -> Integer
Accept IPv4-mapped IPv6 addresses。

[[m:Socket.getaddrinfo]], [[m:Addrinfo.getaddrinfo]] の引数 flags に渡す
定数です。

@see [[man:getaddrinfo(3)]]

