names=AF_INET6,PF_INET6
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=
rbs_sig=(uninitialized)

### const AF_INET6 -> Integer
### const PF_INET6 -> Integer

IPv6。
[m:Socket.open] の第一引数 domain に使用します。

- **SEE** [man:sys/socket.h(header)], [man:socket(2freebsd)], [man:ipv6(7linux)]

