names=AF_CHAOS,PF_CHAOS
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=
rbs_sig=(uninitialized)

### const AF_CHAOS -> Integer
### const PF_CHAOS -> Integer
@todo
MIT CHAOS プロトコル。
[m:Socket.open] の第一引数 domain に使用します。

