names=AF_SNA,PF_SNA
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=
rbs_sig=(uninitialized)

### const AF_SNA -> Integer
### const PF_SNA -> Integer
@todo
IBM SNA protocol。
[m:Socket.open] の第一引数 domain に使用します。

