names=AF_DATAKIT,PF_DATAKIT
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:54

--- AF_DATAKIT -> Integer
--- PF_DATAKIT -> Integer
@todo
datakit protocol。
[[m:Socket.open]] の第一引数 domain に使用します。


