names=EAI_MEMORY
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=

### const EAI_MEMORY -> Integer

Memory allocation failure

[man:getaddrinfo(3)], [man:getnameinfo(3)] などのエラーコードです。
対応する [m:Socket.getaddrinfo], [m:Addrinfo.getaddrinfo] などはエラーを [c:SocketError] に変換するため、この定数は直接は利用しません。

- **SEE** [man:getaddrinfo(3linux)], [man:gai_strerror(3freebsd)]

