names=IP_RECVRETOPTS
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=

### const IP_RECVRETOPTS -> Integer
@todo
Receive all IP options for response

