names=IFF_PORTSEL
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IFF_PORTSEL=2.1.0
until_by_name=
rbs_sig=(uninitialized)

### const IFF_PORTSEL

can set media type

