names=IFF_SIMPLEX
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IFF_SIMPLEX=2.1.0
until_by_name=

### const IFF_SIMPLEX

can't hear own transmissions

