names=IFF_ISATAP
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=IFF_ISATAP=2.1.0
until_by_name=

### const IFF_ISATAP

ISATAP interface (RFC4214)

