names=MSG_HAVEMORE
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:1561

--- MSG_HAVEMORE -> Integer
@todo
Data ready to be read


