names=MSG_FLUSH
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:1556

--- MSG_FLUSH -> Integer
@todo
Start of a hold sequence.  Dumps to so_temp


