names=SO_BROADCAST
visibility=public
kind=defined
source_location=manual/api/socket/constants.md
since_by_name=
until_by_name=
rbs_sig=(uninitialized)

### const SO_BROADCAST -> Integer

Permit sending of broadcast messages。
[m:BasicSocket#getsockopt], [m:BasicSocket#setsockopt]
の第2引数(optname)に使用します。

- **SEE** [man:sys/socket.h(header)], [man:getsockopt(2freebsd)],
     [man:socket(7linux)], [m:Socket::Constants::SOL_SOCKET]

