names=SOCK_DGRAM
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const SOCK_DGRAM -> Integer

データグラム通信。
[m:Socket.open] の第二引数 type に使用します。

- **SEE** [man:socket(2)], [m:Socket.open]

