names=SCM_TIMESTAMP
visibility=public
kind=defined
source_location=refm/api/src/socket/constants:1820

--- SCM_TIMESTAMP -> Integer
Timestamp (timeval).

[[c:Socket::AncillaryData]] の type として利用します。

@see [[c:Socket::AncillaryData]], [[m:Socket::AncillaryData#timestamp]]
     [[m:BasicSocket#sendmsg]], [[m:BasicSocket#recvmsg]]

