names=SOCK_PACKET
visibility=public
kind=defined
source_location=manual/api/socket/constants.md

### const SOCK_PACKET -> Integer

デバイスレベルインターフェース。Obsoleteであり使うべきではない。
[m:Socket.open] の第二引数 type に使用します。

- **SEE** [man:packet(7linux)], [m:Socket.open]

