names=new,open
visibility=public
kind=defined
source_location=manual/api/socket/TCPSocket.md

### def open(host, service, local_host=nil, local_service=nil, resolv_timeout: nil, connect_timeout: nil) -> TCPSocket
### def new(host, service, local_host=nil, local_service=nil, resolv_timeout: nil, connect_timeout: nil) -> TCPSocket

host で指定したホストの service で指定したポートと接続したソケッ
トを返します。host はホスト名、またはインターネットアドレスを
示す文字列、service は /etc/services (または NIS) に登録されている
サービス名かポート番号です。

引数 local_host, local_service を指定した場合、そのアドレス
に対して [man:bind(2)] します。

- **param** `host` --           ホスト名、またはインターネットアドレスを示す文字列を指定します。
- **param** `service` --        /etc/services (または NIS) に登録されているサービス名かポート番号を指定します。
- **param** `local_host` --     ホスト名、またはインターネットアドレスを示す文字列を指定します。
- **param** `local_service` --  /etc/services (または NIS) に登録されているサービス名かポート番号を指定します。
- **param** `resolv_timeout` -- 指定してもエラーにはなりませんが、無視されます。名前解決のタイムアウトとして追加されました([feature:17134])が、対応する実装は Ruby 3.0 のリリース前に取り消され([bug:17220])、Ruby 3.4 で改めて有効になりました。
- **param** `connect_timeout` -- 接続確立のタイムアウトを秒数で指定します。

